## Compile 2016 thru 2019 Citi Bike ride data for Year-Over-Year (YOY) analysis 
## Script 2 of 2

> Many of the questions posed by Citi Bike management require trend analysis over multiple years. Because the source data size is so enormous, I made the decision to confine the analysis to the busiest ride season comprised of the months: July, August, and September. These months will enable study of peak rider participation for both members and those purchasing one-day or three-day passes. 

> **The YOY data is prepared using two different Jupyter Notebook scripts. This second script** combines the monthly data from 2016 through 2019 into a single dataframe and processes the combined file further by cleaning data and creating additional variables (columns).

>NOTE: the **downloaded source data** is *not* cloned to GitHub due to its size. Files with sample source records for 201607 are included in the 'Resources' folder on GitHub. Also, **output files for Tableau** only contain a sample of records in the 'Output' folder; again, due to file size constraints.

In [4]:
# import libraries
import pandas as pd
import numpy as np

#### read in the source csv files for each month

In [5]:
file_path = ('Resources/YOY_citi_201607.csv')
yoy_1607_df = pd.read_csv(file_path)

In [6]:
file_path = ('Resources/YOY_citi_201608.csv')
yoy_1608_df = pd.read_csv(file_path)

In [7]:
file_path = ('Resources/YOY_citi_201609.csv')
yoy_1609_df = pd.read_csv(file_path)

In [8]:
file_path = ('Resources/YOY_citi_201707.csv')
yoy_1707_df = pd.read_csv(file_path)

In [9]:
file_path = ('Resources/YOY_citi_201708.csv')
yoy_1708_df = pd.read_csv(file_path)

In [10]:
file_path = ('Resources/YOY_citi_201709.csv')
yoy_1709_df = pd.read_csv(file_path)

In [11]:
file_path = ('Resources/YOY_citi_201807.csv')
yoy_1807_df = pd.read_csv(file_path)

In [12]:
file_path = ('Resources/YOY_citi_201808.csv')
yoy_1808_df = pd.read_csv(file_path)

In [13]:
file_path = ('Resources/YOY_citi_201809.csv')
yoy_1809_df = pd.read_csv(file_path)

In [14]:
file_path = ('Resources/YOY_citi_201907.csv')
yoy_1907_df = pd.read_csv(file_path)

In [15]:
file_path = ('Resources/YOY_citi_201908.csv')
yoy_1908_df = pd.read_csv(file_path)

In [16]:
file_path = ('Resources/YOY_citi_201909.csv')
yoy_1909_df = pd.read_csv(file_path)

#### append each monthly file to successive dataframes that accumulate all YOY months of detailed ride data into a single dataframe called 'yoy_julsep_df'

In [17]:
yoy2_df = yoy_1607_df.append(yoy_1608_df, ignore_index = True)

In [18]:
yoy3_df = yoy2_df.append(yoy_1609_df, ignore_index = True)

In [19]:
yoy4_df = yoy3_df.append(yoy_1707_df, ignore_index = True)

In [20]:
yoy5_df = yoy4_df.append(yoy_1708_df, ignore_index = True)

In [21]:
yoy6_df = yoy5_df.append(yoy_1709_df, ignore_index = True)

In [22]:
yoy7_df = yoy6_df.append(yoy_1807_df, ignore_index = True)

In [23]:
yoy8_df = yoy7_df.append(yoy_1808_df, ignore_index = True)

In [24]:
yoy9_df = yoy8_df.append(yoy_1809_df, ignore_index = True)

In [25]:
yoy10_df = yoy9_df.append(yoy_1907_df, ignore_index = True)

In [26]:
yoy11_df = yoy10_df.append(yoy_1908_df, ignore_index = True)

In [27]:
yoy_julsep_df = yoy11_df.append(yoy_1909_df, ignore_index = True)

#### inspect data types, sample table records, value counts

In [28]:
yoy_julsep_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [29]:
yoy_julsep_df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,609,2016-07-01 00:00:31,2016-07-01 00:10:40,284.0,Greenwich Ave & 8 Ave,40.739017,-74.002638,212.0,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0
1,672,2016-07-01 00:00:45,2016-07-01 00:11:57,459.0,W 20 St & 11 Ave,40.746745,-74.007756,347.0,Greenwich St & W Houston St,40.728846,-74.008591,15444,Subscriber,1991.0,1
2,472,2016-07-01 00:00:55,2016-07-01 00:08:48,319.0,Fulton St & Broadway,40.711066,-74.009447,263.0,Elizabeth St & Hester St,40.717591,-73.996224,15666,Subscriber,1986.0,2
3,659,2016-07-01 00:02:13,2016-07-01 00:13:13,237.0,E 11 St & 2 Ave,40.730473,-73.986724,519.0,Pershing Square North,40.751873,-73.977706,25283,Subscriber,1970.0,1
4,275,2016-07-01 00:02:47,2016-07-01 00:07:22,511.0,E 14 St & Avenue B,40.729387,-73.977724,483.0,E 12 St & 3 Ave,40.732233,-73.988900,25912,Subscriber,1984.0,1
5,247,2016-07-01 00:04:30,2016-07-01 00:08:37,3135.0,E 75 St & 3 Ave,40.771129,-73.957723,3231.0,E 67 St & Park Ave,40.767801,-73.965921,20871,Subscriber,1989.0,1
6,1816,2016-07-01 00:05:26,2016-07-01 00:35:43,3074.0,Montrose Ave & Bushwick Ave,40.707678,-73.940162,439.0,E 4 St & 2 Ave,40.726281,-73.989780,25251,Subscriber,1993.0,1
7,693,2016-07-01 00:06:21,2016-07-01 00:17:54,293.0,Lafayette St & E 8 St,40.730287,-73.990765,518.0,E 39 St & 2 Ave,40.747804,-73.973442,23602,Subscriber,1986.0,1
8,947,2016-07-01 00:07:32,2016-07-01 00:23:20,479.0,9 Ave & W 45 St,40.760193,-73.991255,153.0,E 40 St & 5 Ave,40.752062,-73.981632,25728,Customer,NaN,0
9,244,2016-07-01 00:08:41,2016-07-01 00:12:45,3224.0,W 13 St & Hudson St,40.739974,-74.005139,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,19202,Subscriber,1986.0,1

In [30]:
yoy_julsep_df["birth year"].value_counts()

1969.0    149107
1989.0     93719
1988.0     93654
1990.0     92627
1987.0     85888
1991.0     85791
1986.0     82797
1985.0     81452
1992.0     80758
1984.0     75191
1993.0     70064
1983.0     69205
1982.0     65078
1981.0     60036
1994.0     54850
1980.0     54693
1979.0     49879
1978.0     44475
1977.0     42614
1976.0     41555
1995.0     41063
1975.0     38934
1970.0     38415
1974.0     37086
1971.0     35518
1973.0     35198
1972.0     34551
1968.0     31840
1967.0     30166
1966.0     28153
           ...
1917.0        39
1887.0        38
1931.0        36
1889.0        35
1910.0        33
1928.0        32
1912.0        32
1899.0        30
1886.0        30
1930.0        29
1924.0        29
1890.0        28
1918.0        25
1921.0        25
1929.0        20
1926.0        20
1895.0        19
1896.0        18
1919.0        16
1893.0        13
1909.0         8
1894.0         7
1911.0         6
1913.0         6
1907.0         4
1915.0         4
1927.0         4
1920.0         2
1922.0         2
1904.0         1
Name: birth year, Length: 107, dtype: int64

In [31]:
yoy_julsep_df["gender"].value_counts()

1    1509649
2     553689
0     258015
Name: gender, dtype: int64

#### assign random integers to each record

In [32]:
yoy_julsep_df['Random_integer'] = np.random.randint(0,100000,size=(len(yoy_julsep_df),1))

In [33]:
# citi_2019_df['mod3'] = citi_2019_df['Random_integer'] % 3

In [34]:
# citi_2019_df['mod3'].value_counts()

#### create a new column containing modulus '2' values calculated using the Random_integer column; the modulus values will be used in the approximate age calculation later in the script

In [35]:
yoy_julsep_df['mod2'] = yoy_julsep_df['Random_integer'] % 2

In [36]:
# check for size of the two random samples created using the modulus operation
yoy_julsep_df["mod2"].value_counts()

0    1161189
1    1160164
Name: mod2, dtype: int64

#### convert data types

In [37]:
# convert ids to strings
yoy_julsep_df['start station id'] = yoy_julsep_df['start station id'].apply(str)
yoy_julsep_df['end station id'] = yoy_julsep_df['end station id'].apply(str)
yoy_julsep_df['bikeid'] = yoy_julsep_df['bikeid'].apply(str)

In [38]:
# yoy_julsep_df['startride'] = pd.to_datetime(yoy_julsep_df['starttime'])

In [39]:
# yoy_julsep_df['stopride'] = pd.to_datetime(yoy_julsep_df['stoptime'])

In [40]:
# inspect data for counts, min/max range, mean
yoy_julsep_df.describe()

,tripduration,start station latitude,start station longitude,end station latitude,end station longitude,birth year,gender,Random_integer,mod2
count,2.321353e+06,2.321353e+06,2.321353e+06,2.321353e+06,2.321353e+06,2.190537e+06,2.321353e+06,2.321353e+06,2.321353e+06
mean,1.016492e+03,4.073677e+01,-7.398491e+01,4.073514e+01,-7.398274e+01,1.979763e+03,1.127371e+00,4.999145e+04,4.997792e-01
std,1.060219e+04,2.890255e-02,2.065274e-02,2.302456e-01,4.153997e-01,1.178546e+01,5.774471e-01,2.886292e+04,5.000001e-01
min,6.100000e+01,4.044535e+01,-7.409694e+01,0.000000e+00,-7.409694e+01,1.885000e+03,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.850000e+02,4.071757e+01,-7.399726e+01,4.071755e+01,-7.399790e+01,1.970000e+03,1.000000e+00,2.502700e+04,0.000000e+00
50%,6.570000e+02,4.073653e+01,-7.398714e+01,4.073625e+01,-7.398752e+01,1.982000e+03,1.000000e+00,4.997300e+04,0.000000e+00
75%,1.147000e+03,4.075641e+01,-7.397422e+01,4.075594e+01,-7.397450e+01,1.989000e+03,1.000000e+00,7.498800e+04,1.000000e+00
max,4.066982e+06,4.086900e+01,-7.387800e+01,4.086600e+01,0.000000e+00,2.003000e+03,2.000000e+00,9.999900e+04,1.000000e+00

#### convert trip length from seconds to hours for easier comprehension in Tableau visuals

In [41]:
yoy_julsep_df['trip_len_hrs'] = yoy_julsep_df['tripduration'] / 3600

#### create new variables for time periods (year, month, quarter, season)

In [42]:
# extract trip year from 'starttime' and store in a new column called 'trip_year' 
yoy_julsep_df['trip_year'] = yoy_julsep_df['starttime'].str[:4]

In [43]:
# convert 'trip_year data' type to numeric
yoy_julsep_df['trip_year'] = pd.to_numeric(yoy_julsep_df['trip_year'])

In [44]:
# extract trip month from 'starttime' and store in anew column called 'month'
yoy_julsep_df['month'] = yoy_julsep_df['starttime'].str[5:7]

In [45]:
# convert trip 'month' data type to numeric
yoy_julsep_df['month'] = pd.to_numeric(yoy_julsep_df['month'])

In [46]:
# function that returns the starttime's annual quarter time period
def quarter_cat(row):

    if row['month'] >= 1 and row['month'] <= 3:
        qtr_val = 'Q1'
    elif row['month'] >= 4 and row['month'] <= 6:
        qtr_val = 'Q2'
    elif row['month'] >= 7 and row['month'] <= 9:
        qtr_val = 'Q3'
    elif row['month'] >= 10 and row['month'] <= 12:
        qtr_val = 'Q4'
    else:
        qtr_val = 'NaN'
    return qtr_val

In [47]:
# use the quarter category function to return the quarter value to a new column called 'quarter'
yoy_julsep_df['quarter'] = yoy_julsep_df.apply(quarter_cat, axis=1)

In [48]:
# function that returns the starttime's season
def season_cat(row):

    if row['month'] >= 1 and row['month'] <= 2:
        season_val = 'winter'
    elif row['month'] >= 4 and row['month'] <= 5:
        season_val = 'spring'
    elif row['month'] >= 7 and row['month'] <= 8:
        season_val = 'summer'
    elif row['month'] >= 9 and row['month'] <= 10:
        season_val = 'fall'
    else:
        season_val = 'other'
    return season_val

In [49]:
# use the season category function to return the season value to a new column called 'season'
yoy_julsep_df['season'] = yoy_julsep_df.apply(season_cat, axis=1)

#### create new variables for rider sex and age

In [50]:
# function that returns the sex of the rider
def sex_label(row):

    if row['gender'] == 2:
        sex_val = 'female'
    elif row['gender'] == 1:
        sex_val = 'male'
    else:
        sex_val = 'na'
    return sex_val

In [51]:
# use the sex category function to return the rider's sex to a new column called 'sex'
yoy_julsep_df['sex'] = yoy_julsep_df.apply(sex_label, axis=1)

In [52]:
# function that returns the approximate age of the rider
# NOTE: using the random modulus 2 value to assign the rider's birth to the first half or second half of the year since the
#       source data does not have a birth month

def age_calc(row):

    if row['birth year'] >= 2000:
        age_val = row['trip_year'] - row['birth year'] + row['mod2']
    elif row['birth year'] >= 1930:
        age_val = (2000 - row['birth year']) + (row['trip_year'] - 2000) + row['mod2']
    else:
        age_val = 'na'
    return age_val

In [53]:
# use the age category function to return the rider's age to a new column called 'age'
yoy_julsep_df['age'] = yoy_julsep_df.apply(age_calc, axis=1)

In [54]:
# drop the 'mod2' and 'Random_integer' columns to reduce the size of the file imported into Tableau
yoy_julsep_df = yoy_julsep_df.drop('mod2', axis=1)
yoy_julsep_df = yoy_julsep_df.drop('Random_integer', axis=1)

#### check data types, sample table records, value counts

In [55]:
yoy_julsep_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                      object
usertype                    object
birth year                 float64
gender                       int64
trip_len_hrs               float64
trip_year                    int64
month                        int64
quarter                     object
season                      object
sex                         object
age                         object
dtype: object

In [56]:
yoy_julsep_df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,usertype,birth year,gender,trip_len_hrs,trip_year,month,quarter,season,sex,age
0,609,2016-07-01 00:00:31,2016-07-01 00:10:40,284.0,Greenwich Ave & 8 Ave,40.739017,-74.002638,212.0,W 16 St & The High Line,40.743349,...,Customer,NaN,0,0.169167,2016,7,Q3,summer,na,na
1,672,2016-07-01 00:00:45,2016-07-01 00:11:57,459.0,W 20 St & 11 Ave,40.746745,-74.007756,347.0,Greenwich St & W Houston St,40.728846,...,Subscriber,1991.0,1,0.186667,2016,7,Q3,summer,male,26
2,472,2016-07-01 00:00:55,2016-07-01 00:08:48,319.0,Fulton St & Broadway,40.711066,-74.009447,263.0,Elizabeth St & Hester St,40.717591,...,Subscriber,1986.0,2,0.131111,2016,7,Q3,summer,female,31
3,659,2016-07-01 00:02:13,2016-07-01 00:13:13,237.0,E 11 St & 2 Ave,40.730473,-73.986724,519.0,Pershing Square North,40.751873,...,Subscriber,1970.0,1,0.183056,2016,7,Q3,summer,male,47
4,275,2016-07-01 00:02:47,2016-07-01 00:07:22,511.0,E 14 St & Avenue B,40.729387,-73.977724,483.0,E 12 St & 3 Ave,40.732233,...,Subscriber,1984.0,1,0.076389,2016,7,Q3,summer,male,32
5,247,2016-07-01 00:04:30,2016-07-01 00:08:37,3135.0,E 75 St & 3 Ave,40.771129,-73.957723,3231.0,E 67 St & Park Ave,40.767801,...,Subscriber,1989.0,1,0.068611,2016,7,Q3,summer,male,27
6,1816,2016-07-01 00:05:26,2016-07-01 00:35:43,3074.0,Montrose Ave & Bushwick Ave,40.707678,-73.940162,439.0,E 4 St & 2 Ave,40.726281,...,Subscriber,1993.0,1,0.504444,2016,7,Q3,summer,male,23
7,693,2016-07-01 00:06:21,2016-07-01 00:17:54,293.0,Lafayette St & E 8 St,40.730287,-73.990765,518.0,E 39 St & 2 Ave,40.747804,...,Subscriber,1986.0,1,0.192500,2016,7,Q3,summer,male,30
8,947,2016-07-01 00:07:32,2016-07-01 00:23:20,479.0,9 Ave & W 45 St,40.760193,-73.991255,153.0,E 40 St & 5 Ave,40.752062,...,Customer,NaN,0,0.263056,2016,7,Q3,summer,na,na
9,244,2016-07-01 00:08:41,2016-07-01 00:12:45,3224.0,W 13 St & Hudson St,40.739974,-74.005139,383.0,Greenwich Ave & Charles St,40.735238,...,Subscriber,1986.0,1,0.067778,2016,7,Q3,summer,male,31

#### output detailed YOY ride data to csv for importing into Tableau

In [57]:
yoy_julsep_df.to_csv("Output/yoy_julsep_2016to2019.csv", index=False)